*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html,body{
	height: 100%;
  height: 100%;
}

@font-face{
  src:url('../fonts/OpenSans/OpenSans-Light.ttf');
  font-family: "Open Sans";
}

@font-face{
src:url('../fonts/OpenSans/OpenSans-Bold.ttf');
font-family: "OpenSans-Bold";
}

@font-face{
 font-family: 'Oregano', cursive;
}


.clear{
	clear: both;
}

h2{
  margin: 0;
}

/*Navbar*/
.logo{
background: url('../images/logo-ucook.png');
width: 50px;
height: 50px;
margin-left: 50px;
margin-top: 10px;
background-size: contain;
background-position: center;
background-repeat: no-repeat;

}

.menu-desktop a{
  font-family: 'OpenSans-Bold';
  padding: 0 30px 0 30px;

}
/*---*/

/*Sidenav*/

.mobile-icon{
  padding-top: 20px;
  color: #2e7d32;
}
.mobile-icon i{
  color: #2e7d32;
}

.logo-sidenav{
background: url('../images/logo-ucook.png');
width: 80px;
height: 80px;
background-size: contain;
background-position: center;
background-repeat: no-repeat;
margin: 0 auto;

}
.sidenav-text li a{
  font-family: 'OpenSans-Bold';
}

/*Sidenav Redes sociais*/
.menu-social a{
 display: inline-block;
 padding:0 20px 0 20px;
}

.menu-social i{
  font-size: 16px;
  padding-top: 10px;
  opacity: 0.7;
}

.line{
  width: 50%;
  margin: 0 auto;
  height: 1px;
  background: green;
  margin-bottom: 12px;
  margin-top: 25px;
  opacity: 0.5;
}
/*---*/

/*Banner-Parallax*/
div.banner{
  padding: 0;
  width: 100%;
  height: 100vh;
  display: block;
  
}

div.banner-bg{
  background: url('../images/banner/bg-banner.jpg');
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay-parallax{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background-color: rgba(10,10,10,0.7);
  top: 0;
  left: 0;
}
 div.banner-bg > .texto{
  z-index: 2;
  color: white;
}
div.banner-bg > .texto span{
  font-size: 80px;
  }
div.container{
  float: center;
}
div.texto h2{
font-size: 80px;
text-transform: uppercase;
}
div.texto p{
  color:#f9a825;
  font-size: 60px;
}

.arrow{
  margin: 0 auto;
}
/*---*/

/*
/*Box-services*/
section.box1{
  transform: skewY(-4deg);
  z-index:3;
  position: relative;
  margin-top: -10vh;
  background-color: #EFF0F2;
}
div.box1-title{
min-height: 55vh;
transform: skewY(4deg);
}
div.title-left h2, .title-right h2{
  display: inline-block;
  width: 250px;
  color: #ff775f;
  font-size: 23px;
  font-weight: bold;
}
div.title-left h2{
  padding-top: 50px;
}

/*Box1-Texts*/
  div.text-left span{
    display: inline-block;
    width: 380px;
    color: #707B81;
    font-weight: bold;
    text-align: justify;
    font-size: 16px;
  }
    div.text-left span:first-child{
    margin-top: 30px;
  }
  div .text-right span{
    display: inline-block;
    width: 380px;
    color: #707B81;
    font-weight: bold;
    text-align: justify;
    font-size: 16px;
  }
  div.text-right span:first-child{
    margin-top: 30px;
  }

@media only screen and (max-width: 1441px) {
  div.title-right h2{
    margin-bottom: 60px;
  }
}

@media only screen and (max-width: 1025px) {

  div.text-left span, div.text-right span{
    font-size: 14px;
    width: 330px;
  }
}

@media only screen and (max-width: 900px) {
  div.title-right h2{
    margin-top: 80px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  div.title-left h2, .title-right h2{
   font-size: 20px;
  }
  div.text-left span, div.text-right span{
   display: flex;
   align-self: center;
   margin: 0 auto;
  }

  div.title-center span{
    margin-top: 60px;
  }
  div.title-right h2{
     margin-top: 80px; 
  }
}


/*BOX2*/
section.box2{
  width: 100%;
  min-height: 70vh;
  transform: skewY(-4deg);
  z-index:3;
  margin-top: -5vh;
  position: relative;
  background-image: linear-gradient(to bottom, #e51919, #f9a825);

}

.smartphone{
background: url('../images/mockup-ucook.png');
width: 350px;
height: 500px;
transform: skewY(4deg);
background-size: contain;
background-position: center;
background-repeat: no-repeat;
margin-top: -5vh;

}
.apps{
  display: flex;
}
.playstore img, .appstore img{
  width: 150px;
  height: 40px;
  transform: skewY(4deg);
  cursor: pointer;
  display: none;
}

.playstore{
  padding-left: 20px;
}
.appstore{
  padding-top: 11px;
  padding-left: 10px;
}


div.services{
  transform: skewY(4deg);
  margin-top: 100px;
}

.card{
  border-radius: 20px;
  width: 200px;
  height: 180px;
  background-image: linear-gradient(to bottom, #c0c0c0, #f0f0f0);
}

.card-style h2{
  font-size: 16px;
  color: #d9483b;
  padding-top: 10px;
  font-weight: bold;
  padding-bottom: 5px;
}
.card-style i{
  color: #d9483b;
  padding-bottom: 10px;
}
.card-style p{
  text-align: center;
  color: #8c4637;
  padding: 0 3px 0 3px;
  padding-top: 5px;
}
.divider{
  background-color: #d9483b;
}
/*---*/

/*BOX3*/
section.box3{
  width: 100%;
  min-height: 70vh;
  transform: skewY(-4deg);
  z-index:5;
  margin-top: -5vh;
  position: relative;
  background-image: url('../images/box3/bg-box3.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay-box3{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background-image: linear-gradient(to bottom, #f9a825, #e51919);
  opacity: 0.5;
  top: 0;
  left: 0;
}

div.title-box3{
  z-index: ;
   transform: skewY(4deg);
   color: white;
   font-size: 60px;
   font-weight: bold; 
}

div.title-box3 h2:first-child{
  padding-top:50px;
}

.sobrepor{
  position: relative;
  z-index: 2;
}

#text1 h2{
  color: #2E7D32;
}
#text2 h2{
  color: #f9a825;
}
#text3 h2{
  color: #C62828;
}
#text4 h2{
  color: #f9a825;
}
#text5 h2{
  color: #C62828;
}
#text6 h2{
  color: #2E7D32;
}
#text7 h2{
  color: #C62828;
}
#text8 h2{
  color: #2E7D32;
}
#text9 h2{
  color: #f9a825;
}

#vslidernav ul {
    list-style: none;
    padding: 0;
    display: none;
}

#vslider {
    width: 300px;
}

#vsliderboxes {
    position : relative;
    overflow : hidden;
    padding-left: 160px;
   
}
#vsliderboxes h2{
  transform: skewY(4deg);
}
#vsliderboxes div {
    height: 350px;
    width: 300px;
    margin-top: 195px;
}
#vsliderboxs-inner {
    position : relative;
    width    : 900px;
    height   : 250px;
}}

/*BOX4*/

section.box4{
background: url('../images/bg-about.jpg');
position: relative;
width: 100%;
min-height: 500px;
background-size: cover;
background-position: bottom;
background-attachment: fixed;
font-weight: bold;
transform: skewY(4deg);
margin-top: -5vh;
z-index: 4;

}
.overlay-about{
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255,255,255,0.6);
  top: 0;
  left: 0;
}
section.box4 h2{
  padding-top: 20px;
}

h2.sobrepor span{
  color:#c62828;
  font-family: "Oregano";
  font-size:70px;
}

.sobre p{
 
  width: 360px;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 25px;
  text-align: left;
}
/*---*/
section.box4{
  background-color: #ffffff;
}
/*About-jeremias*/
div.about-jeremias h2, div.about-juliana h2{
  font-size: 30px;
  color: #e51919;
}
div.about-jeremias span, div.about-juliana span{
  font-size: 24px;
}

div.about-juliana{
  text-align: right;
}

div.about-juliana p span{
  font-family: "Oregano";
  color: black;
  font-size: 18px;
}

div.juliana-mobile{
display: none;
}


/*Footer*/

/*Menu-social Footer*/

footer{
  width: 100%;
}
.footer-menu-social{
  width: 100%;
  font-size: 20px;
} 

.footer-menu-social li{
  display: inline-block;
  padding:0 20px 0 20px;  
}

.footer-menu-social a{
  color: white;
}
.footer-menu-social i{
  opacity: 0.7;
}

/*Newsletter*/

footer{
  background-color: #c62828;
}

footer.row{
  padding: 0;
  margin: 0;
}

form.newsletter{
text-align: center;
width: 100%;
background-color: rgba(100,100,100,0.8);
z-index: 2;
}

.newsletter h2{
  font-size: 25px;
  color: white;
  padding: 0;
  margin: 0;
}
.form{
 width: 350px;
 margin: 0 auto;
 display: flex;
  padding:0;
}

.form i{
  margin-top: 15px;
  margin-left: -30px;
  padding-right: 10px;
  padding-left: 30px;
  color: white;
}

.form label{
  margin-left: 10px;
  padding-left: 30px;
}

footer div.copyright{
  background-color: #c62828;
}
footer p{
  text-align: center;
  color: white;
}

input[type="text"], input[type="email"] {
  border-bottom: none!important;
  box-shadow: none!important;
}
.form-group{
  border-radius: 30px;
  width: 100%;
  height: 50px;
  background-color: #ff5f52;
  opacity: 1;
  color: black;
  margin: 0 10px;
  text-align: left;
}

.form-group:focus{
  border:2px solid white;

}
.footer-btn{
  border-radius: 30px;
  width: 100%;
  height: 50px;
  background-color: black;
  cursor: pointer;
  color: white;
  border:0;
}

.footer-btn:hover{
  opacity: 0.7;
  background-color: white;
  color: black;
}
.footer-btn:active{
border:2px solid white;
}
.footer-line{
  width: 100%;
  margin: 0 auto;
  height: 1px;
  background: white;
  margin-bottom: 12px;
  margin-top: 25px;
  opacity: 0.5;
}
footer span{
  font-family: "Oregano";
  font-size: 20px;
  color: white;
}

/*Effects*/

/* Grow Shadow */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Skew Forward */
.hvr-skew-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.hvr-skew-forward:hover, .hvr-skew-forward:focus, .hvr-skew-forward:active {
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
}


/* Wobble Skew */
@-webkit-keyframes hvr-wobble-skew {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
@keyframes hvr-wobble-skew {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
.hvr-wobble-skew {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-wobble-skew:hover, .hvr-wobble-skew:focus, .hvr-wobble-skew:active {
  -webkit-animation-name: hvr-wobble-skew;
  animation-name: hvr-wobble-skew;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* Skew Backward */
.hvr-skew-backward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.hvr-skew-backward:hover, .hvr-skew-backward:focus, .hvr-skew-backward:active {
  -webkit-transform: skew(10deg);
  transform: skew(10deg);
}

/* Grow Rotate */
.hvr-grow-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow-rotate:hover, .hvr-grow-rotate:focus, .hvr-grow-rotate:active {
  -webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg);
  opacity: 1;
}

@media screen and (max-width: 768px ){
  .card{
  left: 50%;
  transform: translateX(-25%);
  -ms-transform: translateX(-50%);
  }
  div.banner-bg > .texto h2{
  font-size: 50px;
  }

   div.banner-bg > .texto p{
  font-size: 20px;
  display: block;
  }
/*Centralizando icones box1 box-images*/
  .box-images{
  transform: translateX(10%);
  -ms-transform: translateX(10%);
  }



}

/*Responsive*/
@media only screen and (max-width: 1441px) {
  
  /*box1*/

    div.title-right h2{
    margin-top: 80px;
  }

  /*box2*/
  div.smartphone{
    height: 400px;
    margin-top: -5vh;
  }

div.playstore{
  padding-left: 20px;
  display: none;
}
div.appstore{
  padding-top: 11px;
  padding-left: 10px;
  display: none;
}

  div.services{
   margin-top: 60px; 
  }
}
@media only screen and (max-width: 1025px) {

/*box2*/
div.playstore img, div.appstore img {
  width: 120px;
  height: 36px; 
}

section.box2 .container{
 width: 1024px;
}
div.smartphone{
    height: 500px;
    margin-top: -5vh;
    margin-left: 350px;
    width: 300px;
  }

div.playstore{
  padding-left: 380px;
}

div.appstore{
  padding-top: 9px;
}
div.services{
 margin-right: 10px; 
 margin-bottom: 40px;
}
  
 /*Box4*/
 section.box4 .container{
 width: 900px;
} 
}
@media only screen and (max-width: 900px) {
  div.title-right h2{
    margin-top: 80px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  
  /*box1*/
  div.title-left h2, .title-right h2{
   font-size: 20px;
  }
  div.title-right h2{
     margin-top: 80px; 
  }
  /*box2*/
  section.box2 .container{
    width: 300px;
  }
  div.smartphone{
   height: 400px;
   margin-top: -5vh;
   margin-left: auto;
   margin-right: auto;
  }
  div.playstore img, div .appstore img{
    width: 80px;
   height: 26px;
  }
  div.playstore{
   padding-left: 70px;
  }
  div.appstore{
    padding-top: 6px;
  }
 
 /*box3*/

 div.title-box3{
  margin-top: 11px;
 }

 #vsliderboxs-inner h2{

font-size: 50px;
 }

 /*box4*/
  /*Box4*/
 section.box4 .container{
 width: 400px;
} 

 div.about-jeremias, div.about-juliana{
  text-align: center;
  margin: 0 10%;
 }
 div.juliana-mobile{
  display: block;
 }
 div.juliana-desktop{
  display: none;
 }

}

